$color-span: #ced4da;

.stack {
  padding: 2rem;
  //   mask-image: linear-gradient(
  //     90deg,
  //     transparent 20%,
  //     #fff,
  //     #fff,
  //     transparent 80%
  //   );
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;

  & div {
    display: inline-block;
    animation: animate 10s linear infinite;

    span {
      display: inline-block;
      padding: 0.5rem 1rem;
      letter-spacing: 0.5rem;
      background-color: $color-span;
      margin: 1rem;
      border-radius: 1rem;
    }
  }

  @keyframes animate {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}
